body{
  width: 99vw;
  height: 99vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
h1{
  color: aliceblue;
}

.caliculator
{
  border: 1px solid;
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 2rem;
background-color: black;
border-radius: 25px;
border: 0.5rem solid greenyellow;
box-shadow: 0.5rem 0.5rem 10rem;
}

.userinput
{
  width: 25rem;
  height: 5rem;
  font-size: 3rem;
  color: red;
  border: 0.1rem solid greenyellow;
}

.clearbtn,.delbtn
{
  width: 12rem;
padding: 1rem 0rem;
margin: 0.5rem;
margin-top: 1rem;
cursor: pointer;
background-color: red;
color: white;
border: 2px solid seashell;
}
.row2
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.row2 button
{
width: 6rem;
  padding: 1rem 2rem;
  margin-top: 0.5rem;
  cursor: pointer;
 
}

.equalbtn
{
  background-color: red;
  color: white;
}

button:hover{
  background-color: chartreuse;
}

